[2012-03-23 14:19] jkeyes opened #1 "Rename errors to mirror ruby-intercom"
Rename the errors and make them accessible from the Intercom object.

[2012-03-23 14:26] jkeyes opened #2 "Create a distribution"
Update setup.py (and associated files) to create a source distribution to upload to pypi.

[2012-03-23 14:28] jkeyes opened #3 "Write installation documentation"
The installation documentation will cover `pip` and `python setup.py`.

[2012-03-23 14:45] #1 closed, assigned to jkeyes

[2012-03-23 15:14] #2 closed, assigned to jkeyes

[2012-03-23 15:15] #3 closed, assigned to jkeyes

[2012-03-26 11:03] jkeyes opened #4 "Write PyPi specific README"
Using README.md is not suitable for this.

[2012-03-27 22:16] #4 closed, assigned to nobody

[2013-02-21 11:05] payala opened #6 "Delete a user"
I can't seem to find a way to delete a user. If it is not possible, it would be useful to add that feature.

[2013-02-25 22:12] jkeyes opened #7 "doctests are failing"
Fix the doctests, the Intercom API dummy values have been updated.

[2013-02-25 22:47] #7 closed, assigned to jkeyes

[2013-02-28 01:42] jkeyes opened #8 "Prepare 0.2.6 release"
Change the version numbers.
Tag.
Publish sdist to pypi.
Build docs on rtfd.org.

[2013-02-28 02:05] #8 closed, assigned to jkeyes

[2013-02-28 10:26] jkeyes opened #9 "Support for notes."
We currently don't support [Notes](http://docs.intercom.io/api#notes).

[2013-02-28 10:28] jkeyes opened #10 "Support for companies."
I see the ruby lib has added support for user companies, well then so should we :+1:

[2013-02-28 10:29] #9 closed, assigned to jkeyes

[2013-02-28 21:49] #6 closed, assigned to nobody

[2013-03-11 22:18] jkeyes opened #11 "Single version reference"
A single variable to update for new releases.

[2013-03-11 22:26] #11 closed, assigned to jkeyes

[2013-05-08 01:07] jkeyes opened #13 "Support for tagging"
Adding support for http://docs.intercom.io/api#tags

[2013-05-08 02:29] #13 closed, assigned to jkeyes

[2013-06-24 16:31] sdorazio opened #14 "User missing attribute "unsubscribed_from_emails""
The user object is missing an attribute "unsubscribed_from_emails", which is part of the standard intercom api. Because of this, setting this attribute on the user, followed by calling user.save() does not update the flag on Intercom.

The following code should work:

user = User.find(email='test@50onred.com')
user['unsubscribed_from_emails'] = True
user.save()

However, since the unsubscribed_fro

[2013-06-28 05:15] fennb opened #16 "create_user missing last_request_at"
The intercom.io API supports passing in a `last_request_at` parameter at [user creation](http://docs.intercom.io/api#creating_a_user) (or update) time. This is [missing](https://github.com/jkeyes/python-intercom/blob/master/intercom/intercom.py#L144) from the python client, which means you need to separately call `Intercom.create_impression` to correctly register a `LAST_SEEN` attribute.

It would

[2013-07-27 22:32] PanosJee opened #17 "Pass page in User.all"
Right now you can only get 500 users and there is no way to pass the page or per_page attribute

[2013-08-10 01:43] #14 closed, assigned to nobody

[2013-08-10 22:47] #16 closed, assigned to jkeyes

[2013-08-10 22:50] #17 closed, assigned to jkeyes

[2013-11-18 22:40] #10 closed, assigned to jkeyes

[2014-01-30 18:26] steinbachr opened #21 "Support for all=true"
Hey, love the package. Anyways, recently I had need to fetch correspondence for a user as well as auto emails sent to them and the MessageThread.find_all method was getting me all the manual messages sent, but not the auto emails. So I ended up contacting Intercom and they mentioned that they have an (undocumented) param

[code]

that can be sent for a list of all correspondence, including emails,

[2014-02-06 21:07] rsaftoiu opened #22 "Installer fails while looking for README"
Hi there, after cloning the latest master and trying to do an install I get:

[shopventory@devel python-intercom (master)]$ python setup.py install
Traceback (most recent call last):
  File "setup.py", line 22, in <module>
    long_description=open('README').read(),
IOError: [Errno 2] No such file or directory: 'README'

Renaming the file or updating the code to look for README.rst fixes it.

[2014-08-22 20:45] #22 closed, assigned to nobody

[2014-09-12 14:35] kracekumar opened #29 "High level support for `Company`"
Intercom supports high level API to query company. Docs are available at `http://doc.intercom.io/api/#companies`.

Here is a python example for it, http://doc.intercom.io/api/#view-a-company.

[code]

Add a new `Company` class which can perform various operation. If ok, I can send pull request.

[2014-09-13 09:43] jkeyes opened #30 "Add Subscription Support"

[2014-09-13 09:43] jkeyes opened #31 "Add Notification Support"

[2014-09-13 22:23] #30 closed, assigned to jkeyes

[2014-09-14 00:02] jkeyes opened #32 "Add load api operation"

[2014-09-15 20:27] #32 closed, assigned to jkeyes

[2014-09-15 20:29] #21 closed, assigned to nobody

[2014-09-15 21:11] jkeyes opened #33 "Support `self` document fields."
[Intercom's docs](http://doc.intercom.io/api/#identifiers-and-urls) state the following:

Both fields [id](https://docs.python.org/2/library/functions.html#id) and [self](http://en.wikipedia.org/wiki/Python_(programming_language)#Methods) hold special significance in Python.

The current version of python-intercom allows fields called id e.g. `user.id`. I could add similar support for self e.g. `u

[2014-09-15 23:44] #31 closed, assigned to jkeyes

[2014-09-15 23:45] jkeyes opened #34 "Create new README"
Create a README with a similar style to intercom-ruby.

[2014-09-15 23:47] jkeyes opened #35 "Documentation"
Update the documentation to reflect the latest code.

[2014-09-17 22:47] jkeyes opened #36 "Add Error Handling"
Add support for error handling.

See [Intercom Docs](http://doc.intercom.io/api/#errors)

[2014-09-18 00:12] #34 closed, assigned to nobody

[2014-09-18 00:12] jkeyes opened #37 "Validate each example listing in the README."
Sanity test to see where the API support stands.

[2014-09-21 17:54] Rob1080 opened #38 "Are there any plans to support the latest version of the api?"
Are there any plans to support the latest version of the api?
Initially it wasn't clear what version this wrapper was using, but when my custom_attributes didn't get set I began to wonder.  Looking in the code, it appears to be version 1.

[2014-09-22 08:10] #38 closed, assigned to nobody

[2014-09-23 20:21] jkeyes opened #40 "Track changed fields"
Track the fields that have been changed on a Resource and only send those when `save` is called.

[2014-09-23 23:38] #40 closed, assigned to jkeyes

[2014-09-25 20:52] jkeyes opened #41 "Add support for Company.users"

[2014-09-25 21:10] #41 closed, assigned to jkeyes

[2014-09-30 20:35] jkeyes opened #42 "Add conversation reply support."

[2014-10-16 03:02] skunkwerk opened #44 "ResourceNotFound error"
Hi John,

thanks for putting together this library for our use.
Do you know what this error means?  I try the same call from my console, and I don't get any error - so I'm not sure what's causing this.

File "/src/index.py", line 399, in send_event_to_intercom
    impression = Event.create(event_name=event, user_id=customer_id, metadata=properties)
  File "intercom/events.py", line 17, in create

[2014-11-18 01:41] pingometer opened #45 "Python 3"
I attempted to install this with pip in Python 3.4.0 and got this error:

Running setup.py (path:/tmp/pip_build_root/python-intercom/setup.py) egg_info for package python-intercom
    Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/tmp/pip_build_root/python-intercom/setup.py", line 13, in <module>
        with file(os.path.join('intercom', 'intercom.py')

[2015-01-10 03:51] snario commented on #44
:+1:

[2015-01-28 21:31] spang opened #47 "support latest Intercom API"
Hi there,

This doesn't seem to support the latest Intercom API, and instead uses the v1 API. Are there any plans to support the latest API?

http://doc.intercom.io/api/#intercom-api

Some documentation links from the old API docs do not work anymore, and new features are only available with the new API.

Thanks for writing these Python bindings!

[2015-02-18 17:13] flc commented on #47
There is an apiv2 branch, might worth a try. Works for me so far but I only tried basic stuff, like managing users.
@jkeyes how stable would you consider the code in the apiv2 branch?

[2015-03-02 00:32] nerdburn commented on #47
Ping! Very interested in this as well.

[2015-03-09 11:06] Madd commented on #47
How is the development going for v2?

[2015-03-09 12:41] jkeyes commented on #47
The truth of the matter is that I've had no time to dedicate to this for a while now. I'm not sure what state the v2 API is in. FWIR it was supporting the majority of the features from the v1 API. I don't know how stable it is as I haven't compared to the latest API docs. Sorry I can't be clearer about this.

[2015-03-16 21:07] greenafrican commented on #47
Chatted to Intercom today and they don't have any plans to release a Python client anytime soon so will be great to bring this fantastic project inline with the v2 API. Thanks for the work to date.

[2015-03-16 22:24] flc commented on #47
I got the same response from them about a month ago: "... we've no immediate plans to add more client libraries at the minute ...". I'm using the apiv2 branch of my fork in production. No problem with it so far, but I'm only using a few endpoints: users, events, conversations/messages.

[2015-03-16 23:22] jkeyes commented on #47
I'm reviewing the branch now. My gut tells me it's in pretty good shape. I just need to verify that. I'm currently comparing features against the official Ruby library.

[2015-03-17 00:24] jkeyes commented on #47
BTW folks, any help is welcome.

[2015-03-18 09:22] greenafrican opened #50 "Error on install (apiv2)"
Getting the following error on:
`python setup.py install`
and
`pip install git+https://github.com/jkeyes/python-intercom.git@apiv2`

[code]

[2015-03-18 09:24] jkeyes commented on #47
I compared the tests from intercom-ruby with python-intercom and I think there is only one big difference between the two and that's error handling support. I'll start work on this next and then review the open issues.

[2015-03-18 10:46] jkeyes commented on #50
@greenafrican that's fixed now. Thanks.

[2015-03-18 10:46] #50 closed

[2015-03-18 10:46] jkeyes commented on #45
@pingometer Yes I have plans to support Python 3. I'll update here when it's in place.

[2015-03-18 16:02] flc commented on #47
I needed to make some changes/fixes in my fork, you can take a look at them and decide whether you want to apply them. Because of your recent changes there are some merge conflicts now: https://github.com/jkeyes/python-intercom/compare/apiv2...flc:apiv2

[2015-03-18 16:08] flc commented on #47
Also, how can I run the tests? It would probably worth a mention in the readme or somewhere. Thanks

[2015-03-18 16:19] flc commented on #47
ah, ok, sorry, it's here: http://python-intercom.readthedocs.org/en/latest/development.html#running-the-tests. I was misled a bit by this: https://github.com/jkeyes/python-intercom/blob/apiv2/dev-requirements.txt

I get a lot of
[code]

[2015-03-18 16:42] jkeyes commented on #47
apiv2 is using describe for running the unit tests. I'll add it to the README. The docs are out of date as they are for v1 of the API.

[2015-03-19 08:12] greenafrican commented on #47
Yeah, even simple things like
[code]
Which is now lowercase:
[code]

And the `.all()` method is now uppercase `.All()`.

@jkeyes - I can to help update the apiv2 docs as I go through everything - assuming the new standards are correct?

[2015-03-19 10:26] jkeyes commented on #47
@greenafrican (I got your comment via email but no sign in the Github UI) I'm hoping to fix the structure so you can do ```from intercom import User``` style imports. I don't think you should do any documentation updates until I've confirmed that, as it might just be a waste of your time.

There is no change to ```all```, for example: https://github.com/jkeyes/python-intercom/blob/apiv2/tests/unit

[2015-03-19 10:27] jkeyes commented on #47
@flc I've applied some of your changes to the apiv2 branch. Thanks.

[2015-03-19 10:29] flc commented on #47
@jkeyes cool, thanks for your efforts!

[2015-03-19 10:31] greenafrican commented on #47
@jkeyes yeah sorry for that I deleted the comment as I figured out i was being stupid. The change is
`from intercom.user import User` and then `User.all()`. When I had the original error I was tab searching on the object and found `user.All()`. Yeah I think it best for you to decide on standards etc and then I can help with docs if you like. Also just chatted to Intercom again and they sounded vag

[2015-03-19 10:34] jkeyes commented on #47
@flc I'll get to the custom attributes one too. I just want to look at the ruby lib to see what they do.

[2015-03-19 10:34] jkeyes commented on #47
@greenafrican Ah-ha! I didn't even consider any code-completion tools when writing it. My process is to follow the ruby lib as much as possible so it'll be easy to keep up with any changes they make. What IDE are you using?

[2015-03-19 10:35] jkeyes commented on #47
@greenafrican No comment is stupid BTW. I'll set up a new site blamethedocs.org :wink:

[2015-03-19 10:35] greenafrican commented on #47
@jkeyes using PyCharm and iPython Notebooks

[2015-03-20 13:27] jkeyes commented on #44
@skunkwerk @snario Have you tried this with the latest code on the apiv2 branch? (Sorry for being so very late in replying)

[2015-03-20 13:28] jkeyes commented on #36
HTTP and application level error handling has been added. See #56 for details.

[2015-03-20 13:28] #36 closed

[2015-03-20 13:30] jkeyes commented on #29
@kracekumar I've gotten through some stuff in the past week on the apiv2 branch and I think it's very close now.

[2015-03-20 15:55] jkeyes opened #57 "Verify SSL certificates"

[2015-03-20 15:59] jkeyes opened #58 "Remove inter-test dependencies in the integration tests"
Create a test user at the start of the test and delete at the end where appropriate.

[2015-03-20 16:34] jkeyes commented on #57
Done. See #59

[2015-03-20 16:34] #57 closed

[2015-03-24 20:22] grantmcconnaughey commented on #47
What work is left to be done before API v2 can be merged and deployed to PyPI? I'd like to help out if I can.

[2015-03-24 21:17] jkeyes commented on #47
@grantmcconnaughey Code wise it's just about ready for release. If you want you could start reviewing the current docs. I'd be interested in hearing everyone's thoughts about the docs actually.

My approach for them was to copy the structure of the Intercom docs for the Ruby library. I was going to run with the same format for v2. What do you think?

[2015-03-24 21:27] grantmcconnaughey commented on #47
I like the idea of mimicking the Ruby library. I think that will help the odds of this package being picked up by Intercom as the official Python Intercom library (assuming you are cool with that).

[2015-03-24 21:28] jkeyes commented on #47
If they want it, they can have it. I know a few of the folks working in there, we've a good relationship.

[2015-03-24 21:42] grantmcconnaughey commented on #47
I do like the big README.rst documentation. Are you wanting that to be the sole documentation for the Python API? And does python-intercom actually have all the functionality that is displayed in the README, or is that what the goal is?

[2015-03-24 21:47] jkeyes commented on #47
They do the README too (that's where I grabbed it from). They also have full API docs here: http://docs.intercom.io/api I *think* python-intercom supports all of the cases in the README. If you look in the tests/integration directory you'll find code for each of the entries in the README. I'm trying to improve those tests right now, and I'm working through some issues I've found with Intercom.

Th

[2015-03-26 12:15] jkeyes commented on #47
The integrations tests (which were written to mirror the README) are validated to be working. I'll review the intercom-ruby README next and see if all of the cases are covered.

[2015-03-26 12:34] jkeyes commented on #58
See #60 for the changes.

[2015-03-26 12:34] #58 closed

[2015-03-26 16:12] grantmcconnaughey commented on #47
@jkeyes I compared the two READMEs and found only a few differences:

* `MultipleMatchingUsersError` is in the intercom-ruby but not intercom-python
* `HttpError` is in intercom-ruby but not intercom-python
* intercom-python is missing the final section on Rate Limiting (calling `Intercom.rate_limit_details`)

[2015-03-26 16:29] jkeyes commented on #47
Thanks @grantmcconnaughey. I definitely have the tests for the first two in place.  Just wrapping up Python 3 support then I'll get back to this.

[2015-03-27 11:35] jkeyes commented on #45
@pingometer The apiv2 branch now supports Python 3 (tested with 3.4.3).

[2015-03-27 11:35] #45 closed

[2015-03-27 11:41] jkeyes commented on #42
Conversation replying working in apiv2 (see https://github.com/jkeyes/python-intercom/blob/apiv2/tests/integration/test_conversations.py#L41).

[2015-03-27 11:41] #42 closed

[2015-03-27 11:42] jkeyes commented on #47
Python 3 support now in `apiv2`.

[2015-03-27 11:43] jkeyes commented on #29
Company support in `apiv2`.

[2015-03-27 11:43] #29 closed

[2015-03-27 18:16] jkeyes commented on #47
Count support now in `apiv2` e.g. Count.user_counts_for_each_tag.

[2015-03-27 18:20] grantmcconnaughey commented on #47
You're good people, @jkeyes. My company is integrating Intercom in our application starting next week. We'd be happy to beta test python-intercom.

[2015-03-27 18:25] jkeyes commented on #47
@grantmcconnaughey Do please, and file all the bug reports :wink:

[2015-03-27 19:11] grantmcconnaughey commented on #47
Are you planning on putting 2.0 beta up on PyPI? Or do we need to add the github repo to our requirements.txt file?

[2015-03-27 19:58] jkeyes commented on #47
Yeah I think it's in a state that can go on PyPI soon. Might get that done tomorrow.

[2015-03-28 12:58] jkeyes commented on #37
Rate limit section is the last remaining piece.

[2015-03-28 14:09] jkeyes commented on #37
All done. #67

[2015-03-28 14:09] #37 closed

[2015-03-28 14:10] jkeyes commented on #47
Ready to go code wise in `apiv2`. Documentation work next.

[2015-03-28 23:37] jkeyes commented on #35
Docs updated to reflect the current code and the latest Intercom API docs.

[2015-03-28 23:37] #35 closed

[2015-03-29 00:34] jkeyes opened #71 "Push 2.0.alpha release to PyPI"

[2015-03-29 00:35] jkeyes commented on #47
I've updated the documentation, and merged apiv2 (including dodgy merge commit – doh!) to master.

[2015-03-29 00:35] #47 closed

[2015-03-29 00:42] jkeyes commented on #71
Uploaded. https://pypi.python.org/pypi/python-intercom/2.0.alpha

[2015-03-29 00:42] #71 closed

[2015-03-29 00:45] jkeyes commented on #44
@skunkwerk @snario Version 2.0.alpha has been released: https://pypi.python.org/pypi/python-intercom/2.0.alpha Let me know if you still encounter the problem.

[2015-03-29 00:45] #44 closed

[2015-03-30 02:15] grantmcconnaughey commented on #71
:+1:  Will begin implementing this week or early next week.

[2015-03-30 13:44] greenafrican commented on #44
Hi @jkeyes I'm using the newly merged master and am receiving this error.

[2015-03-30 13:49] jkeyes commented on #44
Hey @greenafrican. Please include some example code that reproduces the problem, and I'll take a look.

[2015-03-30 15:00] greenafrican commented on #44
Pretty basic:
[code]

[2015-03-30 15:08] jkeyes commented on #44
@greenafrican If 'bob@example.com' isn't a user in your app then that error is expected.

[2015-03-30 15:20] greenafrican commented on #44
A `404`? Usually expect that with broken links. Oops. I expected the response to still be successful but empty or null. Thanks

[2015-03-30 15:26] jkeyes commented on #44
Yeah. The 404 status code indicates that what was requested could not be found. In the case of this call what is being requested is an `application/json` representation of a `User`.

[2015-03-30 15:43] greenafrican commented on #44
Ok cool. I thought `resource` was referring to the server. Perhaps change the example to:

[code]

[2015-03-31 14:06] greenafrican opened #72 "UnboundLocalError: local variable 'body' referenced before assignment"
Getting the below error when trying:
[code]

Error:
[code]

[2015-03-31 14:13] jkeyes commented on #72
I need to add some logging to help track problems down. It looks like there was an error but the status code is not currently handled by `raise_errors_on_failure`. Can you grab the status_code?

    except ValueError:
        print("Error status code: %s" % (resp.status_code))
        cls.raise_errors_on_failure(resp)

I'll modify `raise_errors_on_failure` to throw an `UnexpectedError` if it's not

[2015-03-31 16:01] grantmcconnaughey opened #73 "Session count not incrementing"
I am unable to increment the session count for a user. I have tried the following:

This one just doesn't do anything:
[code]

This creates a new attribute in Intercom called "session_count":
[code]

Any ideas?

[2015-03-31 16:15] jkeyes commented on #73
The following is the increment test from the integration tests:

    def test_increment(self):
        # Perform incrementing
        user = User.find(id=self.user.id)
        karma = user.custom_attributes.get('karma', 0)
        user.increment('karma')
        user.save()
        self.assertEqual(user.custom_attributes["karma"], karma + 1)
        user.increment('karma')
        user.save()

[2015-03-31 16:25] greenafrican commented on #72
`Error status code: 200`

[2015-03-31 16:27] grantmcconnaughey commented on #73
Thanks for the help. That did work. Here's what I did:

[code]

[2015-03-31 16:30] jkeyes commented on #73
Excellent. I'll put together an integration test based on these types of scenarios and an accompanying page in the docs to show examples.

[2015-03-31 16:47] jkeyes commented on #72
So it's not that then :smile: Last thing, can you run this cURL command and include the output please:

    curl https://api.intercom.io/users \
    -X POST \
    -u APP_ID:SECRET_ID \
    -H 'Accept: application/json' \
    -H 'Content-Type: application/json' -d '
    {
      "email": "me@example.com"
    }'

[2015-03-31 16:56] greenafrican commented on #72
Here you go:
[code]

[2015-03-31 19:25] grantmcconnaughey commented on #72
I'm receiving this same error while trying to create an event. My code:

[code]

The error:

[code]

[2015-03-31 20:13] jkeyes commented on #72
I'll fix the ordering in the parse_body method. I don't know how you're encountering this and I haven't yet. Strange. What's version of Python are you using and on what OS?

Thanks for the reports.

[2015-03-31 20:18] grantmcconnaughey commented on #72
Python 2.7.9, Mac OS X 10.10.2.

[2015-03-31 20:35] greenafrican commented on #72
If it helps, I am also getting this warning:
[code]

I'm on Python 2.7.6 & Mac OSX 10.10.2

[2015-03-31 20:39] jkeyes commented on #72
That's because Python < 2.7.9 has pretty much non existent SSL support (I think).

[2015-03-31 22:31] jkeyes commented on #72
I'm puzzled by the `UnboundLocal` error, as the [Travis builds](https://travis-ci.org/jkeyes/python-intercom/builds) work fine on Python 2.7 and Python 3.4.

Can you try the following and see what happens:

    import json
    @classmethod
    def my_parse_body(cls, resp):
        print "Using my_parse_body"
        try:
            body = json.loads(resp.content.decode())
            if body.get(

[2015-03-31 22:35] grantmcconnaughey commented on #72
Sure thing. I'll give it a shot tomorrow and report back then.

[2015-03-31 22:35] jkeyes commented on #72
Haha trust me to leave my test config in there. Here's the monkey patch again:

    import json
    @classmethod
    def my_parse_body(cls, resp):
        print "Using my_parse_body"
        try:
            body = json.loads(resp.content.decode())
            if body.get('type') == 'error.list':
                cls.raise_application_errors_on_failure(body, resp.status_code)
            return bod

[2015-03-31 22:37] jkeyes commented on #72
Thanks @grantmcconnaughey.

[2015-03-31 22:57] jkeyes commented on #73
I've asked Intercom about this. I've tried running the following cURL command multiple times and the session count remains the same:

    curl https://api.intercom.io/users \
    -X POST \
    -u xxx:xxx \
    -H 'Accept: application/json' \
    -H 'Content-Type: application/json' -d '
    {
      "email": "me@example.com",
      "new_session": true
    }'

[2015-03-31 23:14] grantmcconnaughey commented on #73
Weird. Surely `last_request_at` isn't required to update the session count. Have you tried adding that as well? I've successfully gotten the session count to update several times with the code above.

[2015-04-01 13:25] kracekumar commented on #29
Thanks!

[2015-04-01 13:45] jkeyes commented on #29
@kracekumar This is now in the 2.0.alpha release on PyPI if you want to try it out. The `apiv2` branch has been deleted.

[2015-04-01 15:27] grantmcconnaughey commented on #72
No such luck, @jkeyes. :frowning:

I ran this as my app was starting up:
[code]

"Using my_parse_body" output to the console. So far so good. Then this:

[code]

It seems to me that POSTing to the events API isn't returning a response. I gave it a try with curl and didn't receive any response. :( The events ARE saving to Intercom, though.

[2015-04-01 15:36] grantmcconnaughey commented on #72
I monkey patched `Save` as well, and no exceptions were raised. Not sure if this is a good solution, though.

[code]

[2015-04-01 15:40] jkeyes commented on #72
@grantmcconnaughey Okay, I need to handle the case of an empty body. From the Intercom API docs:

    Successful responses to submitted events return 202 Accepted with an empty body.

The monkey patch is only for you to try it out quickly see https://github.com/jkeyes/python-intercom/commit/714de5a97b03a204f9768c04a9fb8efd7bfcc7ca where I have it on a branch. I see the Ruby lib returns for an empt

[2015-04-01 15:44] grantmcconnaughey commented on #72
Beautiful. I'll leave the patch until there is an alpha update. Thanks for all the awesome work you're doing on this. Let me know if there is any way I can help besides submitting the bugs I find.

Side note, can `intercom/events.py` be removed? I don't think that Event class is being used. I accidentally imported it yesterday and was very confused why it wasn't working. :wink:

[2015-04-01 15:47] jkeyes commented on #72
Haha sneaky little `events.py` module in there. That should be removed alright.

As for helping, submitting issues is good and if that's what you're most comfortable at then flake ahead. You can submit PRs if you want for any issues if you want, but don't let it be a barrier for feedback.

[2015-04-01 16:05] jkeyes commented on #72
Also from the Ruby lib in `save.rb`:

    from_response(response) if response # may be nil we received back a 202

I've both places fixed now: https://github.com/jkeyes/python-intercom/commit/d98f10aafc380de33bcb713c801435558a012e09

[2015-04-01 21:55] jkeyes opened #74 "Use mock.assert_called_once_with for unit tests"
The current unit tests don't really test anything. I'm going to change it from `HTTPretty` tests to `mock.assert_called_once_with` tests. This is similar to the unit tests in `intercom-ruby`.

[2015-04-02 02:29] jkeyes commented on #74
All tests now using `mock.patch` instead of `HTTPretty`. Uncovered a but initialised unsaved resources. See 37f06b1f9fb351751577730e374d02b64271bf28

[2015-04-02 02:29] #74 closed

[2015-04-02 11:01] jkeyes opened #77 "Some attributes not being saved for resources"
I created a `User` like so:

        user = User(
            email="jo@example.com", user_id="i-1224242",
            companies=[{'company_id': 6, 'name': 'Intercom'}])

and then called `user.save()`. The value for `companies` was not being sent in the request. If I created it as follows:

        user = User.create(
            email="jo@example.com", user_id="i-1224242",
            companies=[

[2015-04-02 11:04] jkeyes commented on #77
There was a problem with how `api_resource.Resource` tracked `changed_attributes` when values were set via the `__init__` method. I discovered this while changing the unit tests from using `HTTPretty.register_uri` to `mock.patch`.

The diff of `api_resource.py`: https://github.com/jkeyes/python-intercom/commit/37f06b1f9fb351751577730e374d02b64271bf28#diff-1

[2015-04-02 11:04] #77 closed

[2015-04-03 20:13] jkeyes commented on #73
It seems like there was glitch on the Intercom side. The cURL commands are working for me now. I've added `test_73.py` to highlight the usage.

[2015-04-03 20:13] #73 closed

[2015-04-03 20:41] jkeyes opened #80 "Add six to install_requires."

[2015-04-03 20:45] jkeyes opened #81 "test_72 breaks pip install in Python 3"
Running setup.py install for python-intercom

      File ".venv/lib/python3.3/site-packages/tests/integration/issues/test_72.py", line 24
        print data
                 ^
    SyntaxError: invalid syntax

[2015-04-03 20:57] #80 closed

[2015-04-03 20:57] jkeyes commented on #81
Fixed by 5febd59287bc02184ed79c2643f0a0df1090869b

[2015-04-03 20:57] #81 closed

[2015-04-03 22:18] jkeyes commented on #72
Released [2.0.beta](http://keyes.ie/python-intercom-2-0-beta/).

[2015-04-03 22:18] #72 closed

[2015-04-03 22:41] jkeyes commented on #33
`.self` fields are support in version 2.

[2015-04-03 22:41] #33 closed

[2015-04-10 09:31] greenafrican opened #87 "NoneType returned on user email change"
Hi @jkeyes thanks for the beta release!

Interesting edge-case but if I do this
`user = User.create(email="bob@example.com", user_id=1)
print type(user)`

I get `<class 'intercom.user.User'>` as expected.

However, if my user decides to ever change their email address for their account:
`user = User.create(email="not_bob@example.com", user_id=1)
print type(user)`

I get a `<type 'NoneType'>` respo

[2015-04-10 09:46] jkeyes commented on #87
@greenafrican I just tried the following:

    user = User.create(email="bob@example.com", user_id=1002)
    print user, type(user), user.email
    user = User.create(email="not_bob@example.com", user_id=1002)
    print user, type(user), user.email

and saw this output:

    <intercom.user.User object at 0x1040b6cd0> <class 'intercom.user.User'> bob@example.com
    <intercom.user.User object at 0x

[2015-04-10 10:33] greenafrican commented on #87
Ok, working through it. Seems to only sometimes happen. Trying to find the exact replicable scenario.

[2015-04-10 10:54] jkeyes commented on #87
My guess (and it's exactly that) is that an empty response is coming back from Intercom.

[2015-04-10 10:57] greenafrican commented on #87
It may be a corrupted record on Intercom's side as it is only happening with 1 user. The user definitely exists (https://cloudup.com/cb28msIbp0y) but when I do
[code]

and

[code]

Will follow up with Intercom and come back to you.

[2015-04-10 11:01] jkeyes commented on #87
I've seen similar before, when I was trying to increment a session count. It worked without problem in all cases I tried except one. The following day that one worked too. I raised this with Intercom at the time.

[2015-04-10 11:06] greenafrican commented on #87
Yeah, looks like even Intercom battling to wrangle this record - https://cloudup.com/cs4mZ1WSgGA

Returns 0 results. Let's see what they say.

[2015-04-10 12:00] greenafrican commented on #87
This may be worth checking out:
[code]

BUT, this works:
[code]

And then... of course:
[code]
and
[code]

Which are at least consistent.

[2015-04-10 15:40] greenafrican commented on #87
Expecting some feedback from Intercom in this thread.

[2015-04-10 16:18] erskingardner commented on #87
Hey guys,

Jeff, from Intercom, here.

First off. `https://api.intercom.io/users/{user_id}` isn't valid, you can only pass the Intercom ID of the user in that way and get a valid user back. To get a user back using the user_id you'll need to make a request to `https://api.intercom.io/users?user_id={user_id}`. So it makes sense that you'd be getting a 404 for that request.

@greenafrican I'll follo

[2015-04-10 19:16] jkeyes commented on #87
Hey Jeff. To be clear python-intercom doesn't send requests to `https://api.intercom.io/users/{user_id}` it follows the same pattern as intercom-ruby. See [find.py](https://github.com/jkeyes/python-intercom/blob/master/intercom/api_operations/find.py#L13) for details.

I haven't been able to reproduce the problem yet.

[2015-04-11 14:27] greenafrican commented on #87
Thanks @erskingardner for clarifying. I was just testing. I can confirm that `curl` returns the correct user Intercom object for the id.

[code]

[code]

[2015-04-13 12:38] erskingardner commented on #87
Thanks for clarifying guys, @jkeyes I really don't think that this is an issue on the library so feel free to close this and I'll continue following up with @greenafrican in Intercom.

[2015-04-16 09:18] jkeyes commented on #87
@erskingardner Cool. Let me know if there's anything that needs to be supported on this end.

[2015-04-17 10:58] erskingardner commented on #87
Hey @jkeyes, circling back here. The 2.0.beta library does appear to be the source of this odd one. The response hasn't changed on our end and as @greenafrican said, the curl response comes back immediately with the right type and data.

[2015-04-17 11:21] greenafrican commented on #87
Two responses from:
[code]
May help to look at 1 that works and another that fails. Eyeballing it, maybe `Fürth` in the city name causing the issue?

Here is an example of a user object response that works:
[code]

Here is an example of a user object response that fails:
[code]

[2015-04-17 22:03] jkeyes commented on #87
@erskingardner @greenafrican Rightio.

[2015-04-17 22:21] jkeyes commented on #87
I've tested by mocking a response as follows:

        response = Mock()
        response.content = API_RESPONSE
        response.encoding = 'utf-8'
        response.status_code = 200

where `API_RESPONSE` is the JSON (both users) shown above. This is working as expected. I'm going to add some logging support which may help us locate the problem.

[2015-04-17 23:02] jkeyes commented on #87
@greenafrican I've added some request logging (https://github.com/jkeyes/python-intercom/tree/request-logging). Please run your test with logging turned on and share the output with me.

Here's a super simple config to get logging to `stderr`:

    import logging
    logger = logging.getLogger('intercom')
    logger.setLevel(logging.DEBUG)
    ch = logging.StreamHandler()
    logger.addHandler(ch)

[2015-04-20 07:18] greenafrican commented on #87
@jkeyes Ok, i've tried with logging and all records that previously didn't work are now working?! So I guess something somewhere changed.

[code]

[code]

[code]

If I uninstall `request-logging` and re-install `2.0.beta` I get the errors again:
https://cloudup.com/cHOARvA1VpW

[2015-04-20 11:13] jkeyes commented on #87
Thanks for the update @greenafrican. It's a strange one. As you can see from [the diff](https://github.com/jkeyes/python-intercom/compare/request-logging) the only changes were to add some logging code.

[2015-04-20 11:22] greenafrican commented on #87
Yeah I looked at that. Very odd. Is the latest `master` branch = `2.0.beta` tag? What is the latest PyPi package? I currently install with:
[code]

and for the request-logging used:
[code]

but just `pip install python-intercom` looks like version 0.2.13.

[2015-04-24 11:12] timredfern opened #89 "no valid example provided"
might be an idea to provide a complete working example?

I'm sure it should be obvious, but I'm trying this:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/intercom/user.py", line 69, in find
    resp = Intercom.get_user(user_id=user_id, email=email)
  File "/Library/Python/2.7/site-packages/intercom/intercom.py", line 173, in ge

[2015-04-24 11:48] timredfern commented on #89
has intercom changed the format of app and user IDs that they publish? failing the unit tests with 'Unauthorized"

[2015-04-24 12:29] jkeyes commented on #89
@timredfern You are running the old version of python-intercom (check `pip freeze` output). To install the latest run `pip install python-intercom==2.0.beta`.

[2015-04-25 08:31] mkemka commented on #89
@jkeyes have updated to the 2.0.beta but cannot run the User update example either:

me = User.find(email="internet@gmail.com")
me.custom_attribute["average_monthly_spend"] = 1234.56
me.save()

AttributeError: 'User' object has no attribute 'custom_attribute'

[2015-04-25 11:39] jkeyes commented on #89
There is no `custom_attribute` attribute, it's `custom_attributes`.

Good examples of user operations here: https://github.com/jkeyes/python-intercom/blob/master/tests/integration/test_user.py

To see what attributes you can you can always do `dir(user)`.

[2015-04-25 12:42] jkeyes commented on #87
@greenafrican Yeah the default on PyPi is still 0.2.13. I don't think there's a way to change that. I'd like to get this issue resolved before publishing 2.0 officially.

[2015-05-08 18:51] felixcheruiyot commented on #89
I have this problem too and I'm running v2.0.beta and I get unauthorized error.

[2015-05-09 08:01] #89 closed

[2015-05-11 20:07] teeberg opened #92 "Intercom may return 'None' for custom attributes"
First of all, the new version 2.0 looks already really awesome and easy to use!

There is only one minor problem that I'm running into, which is:

[code]

[2015-05-11 20:17] jkeyes commented on #92
@teeberg Thank's for the nice words. A few people have reported the `custom_attributes` and `None` value issue. It's sitting in a PR waiting for me to merge.

[2015-05-11 20:21] teeberg commented on #92
Oh awesome, thank you for the fast response! I only checked the issues which are in an exceptionally clean state. :-) I totally missed to check the PRs too. I'll just use the fork in the meantime then!

[2015-05-11 22:48] teeberg opened #94 "Can not inherit from resource classes"
The current design deduces the API endpoints from the class name. If you want to inherit from a Resource class to give it more functionality, this screws up the API endpoint "computation". I think it would be nicer to specify the endpoint name directly as an attribute of the class instead of deriving it. In the spirit of [The Zen of Python](https://www.python.org/dev/peps/pep-0020/):

and

Have yo

[2015-05-12 14:24] jkeyes commented on #92
Fixed in 2.0 which I released to PyPi today.

[2015-05-12 14:24] #92 closed

[2015-05-12 14:32] jkeyes commented on #94
I hadn't thought about this. One of my goals for `python-intercom` was to mirror the code from `intercom-ruby` as much as possible. That was where I took the naming structure from.

[2015-05-12 15:03] teeberg commented on #94
So I take `intercom-ruby` also infers the endpoint from the class name? What do you think about adding an explicit `type` or `resource` attribute to all `Resources`? That would be an easy fix, make it more explicit and allow subclassing.

[2015-05-12 15:05] teeberg commented on #92
Wow that's awesome! Thanks so much for the fast work! Keep it up!

[2015-05-12 15:19] jkeyes commented on #94
'easy fix' - I think you'll find that in the 'famous last words' category
;)  You can put together a PR if you like and I'll review the changes.

[2015-05-12 15:28] teeberg commented on #94
:D I don't have too strong feelings about it. I ended up not inheriting it and making an extra function that constructs the `Company` from an internal model. Feel free to close if you don't mind, I just thought I'd bring it up ;)

[2015-05-12 19:24] carter2422 opened #95 "Getting ValueError while iterating over users with User.all()"
While attempting to iterate over users with `User.all()` I'm getting a ValueError.

Even something as simple as this fails:
[code]

**Full Traceback:**
[code]

*Note: iterating over companies in the same fashion works just fine.* I'm using version 2.0beta of python-intercom as that's the latest one that seems to be available on PyPi.

[2015-05-15 23:44] teeberg opened #96 "Support bulk user creation"
The v2 API allows bulk creation of users as specified here:
https://doc.intercom.io/api/#bulk-user-creation

It would be nice if python-intercom would support that! :-) I'll hack my way around it for now.

[2015-05-21 23:11] zacwitte opened #97 "Exception in error handling"
[code]

[2015-05-22 09:18] jkeyes commented on #97
Can you grab the response that Intercom is sending back? Can you let me know how I can reproduce the issue. Thanks.

[2015-05-24 16:30] teeberg commented on #95
I think this is the same problem as in #92

[2015-05-31 20:29] greenafrican commented on #87
Hi @jkeyes just some feedback on this again. I'm pretty sure it has to do with encoding somewhere. Here are a few customers that cause this issue - https://cloudup.com/cSWHr5-cRCy

Still running 2.0.beta

[2015-06-03 21:51] jkeyes commented on #95
@carter2422 Have you tried with version 2.0.0?

[2015-07-07 16:35] teeberg commented on #97
I sometimes get this error, but I can't seem to reproduce it. Here's the `decoded_body` of one failure:
[code]
I removed the request ID. Not sure what that's used for. :-) The command I run is:
[code]
That's all the details I have so far. I'll report back when I'm able to find a scenario that reproduces it reliably.

[2015-07-08 16:10] awidgery opened #98 "Getting details of a user's events"
Is there a way to do this with the library - e.g. getting the count of a particular event for a user?

[2015-07-10 18:53] psihonavt opened #99 "Timout for operations."
Is there a way to set timeout for any operation (http request)? Potentially Intercom API can be down or slow due to some reasons and ideally I would like to control how much time requests can wait for it.

[2015-07-15 01:24] lihan opened #100 "identity_vars should not pass empty email address"
In ``intercom/api_operations/save.py``

The ``identity_hash`` should not allow ``email`` property with empty string if ``user_id`` presents, intercom  API returns ```BadRequestError(u"Email can't be blank",)```

[2015-07-16 01:59] lihan commented on #100
Appended with a test case for you to reproduce
[code]

[2015-07-16 07:18] asavoy commented on #100
We managed to find a workaround:

[code]

[2015-07-27 17:15] NickFranceschina commented on #97
seeing same thing here.   my response is 400:

[code]

blowing up same place as above with `KeyError`.... note how on this line you use the `error_details.get('type')` to access it in case it isn't there...
 https://github.com/jkeyes/python-intercom/blob/master/intercom/request.py#L112

but then on this line you're using `error_details['type']` which causes the exception:
https://github.com/jkeyes

[2015-08-11 16:06] #94 closed

[2015-08-11 16:06] #95 closed

[2015-08-11 16:29] jkeyes commented on #97
Thanks @teeberg and @NickFranceschina for raising this.

The error handling is supposed to look into the `error_details` alright. The problem is there is no `type` specified in there. Based on the Ruby lib (which was the basis for python-intercom), it should then fall back to the `code` in the error.

The two errors listed in this issue `unique_user_conflict` and `parameter_not_found` are not dire

[2015-08-11 22:00] jkeyes commented on #97
The fix will be in the 2.0.1 release.

[2015-08-11 22:00] #97 closed

[2015-08-11 22:01] jkeyes commented on #100
The fix will be in the 2.0.1 release.

[2015-08-11 22:01] #100 closed

[2015-08-11 22:26] jkeyes commented on #99
@psihonavt You can modify the value by setting `intercom.Request.timeout`. I added a test  2c1ea37d784333f70767c0b44ab03e989abdde20 to show it's use.

[2015-08-11 22:26] #99 closed

[2015-08-11 23:08] jkeyes commented on #98
@awidgery it's not possible to retrieve event data via the API. I confirmed this with Intercom, and I've been told it's something their product team is looking into.

[2015-08-11 23:08] #98 closed

[2015-10-14 10:28] cezio opened #104 "code cleanup: unused file intercom/events.py"
It seems that https://github.com/jkeyes/python-intercom/blob/master/intercom/events.py is not used anywhere, it defines class already defined in https://github.com/jkeyes/python-intercom/blob/master/intercom/event.py

[2015-10-20 08:41] DevilPinky opened #105 "SSLError - EOF occurred in violation of protocol (_ssl.c:600)"
It seems that this module uses `certifi` and it fails...sometimes.
In 75% request to Intercom API fails with this error and it's weird that it's not 100%:

I also had a problem with other external packages, once I started using this one. The problem was this:

But I find workaround for this one, I simply replaced `certifi` certificate with `requests` certificate.

[2015-12-08 03:54] catskul commented on #96
+1

[2016-01-17 22:01] carter2422 opened #107 "Returning Conversation.user returns intercom.utils.User rather than intercom.User object"
It seems that the `Conversation.user` attribute is returning the wrong object. Rather than `intercom.User` it returns `intercom.utils.User`, thus it's missing all of the User model attributes.

This is wrong isn't it?

[2016-01-25 16:35] carter2422 commented on #107
Any thoughts on this @jkeyes?

[2016-01-26 20:20] carter2422 commented on #107
Ah just realized I can use `conversation.user.load()` to load the full user object.

[2016-01-26 20:20] #107 closed

[2016-01-27 02:53] vpontis opened #109 "Support for contacts/leads"
Is support for contacts/leads coming? That would be really helpful!

I'd love to use this to convert leads to users programmatically. This isn't easy to do within the Intercom UI.

[2016-02-05 10:57] jkeyes commented on #109
@vpontis will get to this. Thanks.

[2016-02-05 11:01] jkeyes commented on #105
@DevilPinky `requests` uses `certifi` if it can. It's a preferred method to obtain a cert as the one shipped with `requests` only gets updated with each release. See https://github.com/kennethreitz/requests/blob/master/requests/certs.py for how `requests` handles this

With regards to the failure, is this consistently reproducible by you?

[2016-02-05 11:04] jkeyes commented on #104
@cezio Thanks for pointing that out. Events is an old implementation.

[2016-02-12 10:39] santiagomalter commented on #109
:+1:

[2016-03-01 18:26] gasparmrb opened #110 "ImportError: cannot import name User"
Hi,
I had installed Python-Intercom, but it's don't work....

![image](https://cloud.githubusercontent.com/assets/7880188/13437207/e871fbd0-dfda-11e5-8ead-36202ad5e70b.png)

My code is:

import intercom
from intercom import User

intercom.app_id = "..."
intercom.app_api_key = "..."

for user in User.all():
    print user

But I obtain the following error:

![image](https://cloud.githubusercontent.

[2016-03-02 12:29] #110 closed

[2016-03-10 22:48] yacobell commented on #109
:+1:

[2016-03-11 22:08] arjunbanker opened #111 "throttle api requests by default"
it would be helpful if all intercom api requests were throttled automatically to avoid exceeding limits

[2016-03-19 22:20] jkeyes commented on #111
No immediate plans on adding this Arjun. The current rate limit details are stored in the version-3 client (see `rate_limit_details`).

On Fri 11 Mar 2016 at 22:08 arjun

<
mailto:arjun <notifications@github.com>

it would be helpful if all intercom api requests were throttled automatically to avoid exceeding limits

—

Reply to this email directly or
https://github.com/jkeyes/python-intercom/issu

[2016-03-19 22:54] jkeyes commented on #96
@teeberg @catskul @arjunbanker This will be landing soon in the version-3 branch.

[2016-03-20 23:02] jkeyes commented on #96
Support now in version-3 branch. I won't close this until I release v3.

[2016-03-21 21:24] jkeyes commented on #109
Added support to version-3 branch.

[2016-03-21 21:31] jkeyes commented on #87
@greenafrican I'm wondering if you've tried this with the `version-3` branch yet. I haven't done anything specifically to address this issue, just wondering. Thanks.

[2016-05-05 03:04] ashchristopher commented on #96
@jkeyes Do you have an ETA on when v3 will land?

[2016-05-15 12:19] rsalesas opened #114 "Next Page in Iteration fails"
Hi, I'm running the following code and it fails consistently both in users and leads when it needs to page.

This happens in Python 2.7 or 3.0

`for lead in intercom.leads.all():
    print(lead.email)`

`for user in intercom.users.all():
    print(user.email)`

Error is:

[2016-05-15 16:28] teeberg commented on #114
This looks like a DNS resolution error. Can you `wget`/`curl` it to see if it gets resolved properly? Do any other intercom API requests work as expected?

[2016-05-16 07:21] rsalesas commented on #114
Not likely as the first set come through just fine. This is failing on getting the next page.

[2016-06-03 13:48] hheimbuerger opened #116 "API errors don't raise exception"
I'm calling `User.create()` on v2.1.1 and apparently I got some encoding wrong. However, python-intercom does not raise an exception, which makes this almost impossible to detect without reviewing the logs.

Example log (values anonymized):

[code]

Expected behavior: an exception to be raised in this case.

[2016-06-03 14:00] hheimbuerger commented on #116
On second look, this seems to be purely a logging problem. Interesting.

Don't think I have any particularly special logging configuration in this regard. Definitely haven't had any issues so far with logging unicode.

[2016-06-13 14:21] jpocentek opened #117 "Dynamic credentials"
Is it possible to use this package with different credentials for every request? It seem to get global configuration and it's impossible to change it at runtime. For example I'm trying to create function that will fetch data from given account, something like this:

[code]

And I get `AuthenticationError: Unauthorized` error. It's Django implementation and it's working if settings are taken from c

[2016-07-09 20:02] ankurrawal opened #118 "Unable to use python-intercom with oauth token"
Hi ,
i am unable to use this library with oauth token, Can you point the documentation for the same ?

[2016-08-19 20:50] jt-money commented on #109
@jkeyes any chance of this awesome addition making it to version 2.1.1? Or do we have to update to 3? Also, any chance we can get "python-intercom3" added to pip? I only see versions 0.2 - 2.1.1 available:

Collecting python-intercom==3
  Could not find a version that satisfies the requirement python-intercom==3 (from versions: 0.2.0, 0.2.3, 0.2.4, 0.2.5, 0.2.6, 0.2.7, 0.2.8, 0.2.9, 0.2.10, 0.2.11

[2016-08-23 02:08] jfeldstein commented on #110
What was the fix for this? I am having the same issue today.

[2016-08-23 02:10] jfeldstein commented on #110
I was calling it from a file called `intercom` which caused a circ dependenciy

[2016-08-31 05:29] jfeldstein opened #120 "Error connecting to "api.intercom.iohttps""
Attempting to search for a list of Companies, by tag_id, I get:

[code]

Notice it's trying to call `host='api.intercom.iohttps'` and url `//api.intercom.io/companies...`

The https is in the wrong place.

[2016-08-31 16:15] jfeldstein commented on #120
I've opened a PR which addresses this issue. Please take a look and let me know how I can get it merged! https://github.com/jkeyes/python-intercom/pull/121

[2016-08-31 17:55] rsaftoiu opened #122 "Support for personal access tokens?"
Just got a message from intercom that api tokens will no longer be accepted as of Jan 27th, 2017 - is there a plan to support their new personal access tokens ?See: https://developers.intercom.io/v2.0/docs/personal-access-tokens

[2016-08-31 19:30] jkeyes commented on #122
Yes, we'll need to add support for this.

[2016-08-31 19:33] jkeyes commented on #118
There is no support for OAuth in v2 or v3. I haven't looked into supporting it yet.

[2016-08-31 19:34] jkeyes commented on #117
In v3 you can use different credential by instantiating a new client per request. See https://github.com/jkeyes/python-intercom/tree/version-3 docs.

[2016-08-31 19:35] jkeyes commented on #116
Any further detail on this @hheimbuerger? I'm not going to do anymore work on v2, have you tried in v3 to see if it's still an issue? https://github.com/jkeyes/python-intercom/tree/version-3

[2016-08-31 19:36] jkeyes commented on #114
I haven't looked into this yet @rsalesas, is it still an issue for you? I'm going to do some work around getting v3 released soon, so I should get to this while doing that.

[2016-09-01 08:56] hheimbuerger commented on #116
@jkeyes I haven't tested in v3 yet.

Have you tried creating a User with some crazy encoding (my usual test string is "℉ḯяß⊥ηαмê ℒ@ç☂ηàღë"), while logging is enabled, so that you get the JSON request and response replicated to stdout?

[2016-10-05 00:47] jt-money commented on #114
+1 on this; I have hit this same exact issue as well with the 3.0b2 branch (this issue is NOT PRESENT in version 2.1.1)
For users.all() it prints 50 users every time then errors out, which I eventually figured out as being caused by a lack of pagination...and then I found this page :(

I had to write a hacky manual pagination loop (sending page='2', etc, after a for loop of 20 elements) in the mea

[2016-10-08 09:34] frankie567 commented on #122
Meanwhile, a "hacky" way to authenticate with Personal Access Tokens is  to set the `app_id` to the token and the `app_api_key` to an empty string. Check the [curl example on the Intercom doc](https://developers.intercom.com/v2.0/docs/personal-access-tokens#section-using-personal-access-tokens) to understand why.

[2016-10-21 06:18] WarmongeR1 opened #124 "Version 3. When will release?"
subj
The last commit into branch version-3 was in March

[2016-10-28 15:47] jangnezda commented on #122
For anyone wondering, @frankie567 's suggestion works also for OAuth tokens.

[2016-11-07 18:12] lizmallalieu commented on #122
Just ran into this issue - the "hacky" way works for now but it would be great to get support for this!

[2016-11-09 06:54] frankie567 commented on #122
I proposed PR #123 for this, ready to be merged!

[2016-11-10 09:57] ubaldo opened #126 "Support for scroll api?"
User listing only works for up to 10k users. I realize that the scroll api is in beta but I wonder if it has been considered

[2016-11-15 14:26] centralniak opened #127 "http://keyes.ie/things/python-intercom/ expired certificate"
Minor issue but I think it'd be good to update the link in the github description of this project as it points to a site with an expired SSL cert.

[2016-11-15 14:44] jkeyes commented on #127
Ah cool. I keep saying today, and then tomorrow. Thanks for letting me know.

On Tue, Nov 15, 2016 at 14:26, Piotr Kilczuk <notifications@github.com> wrote:
Minor issue but I think it'd be good to update the link in the github description of this project as it points to a site with an expired SSL cert.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directl

[2016-11-15 19:48] jkeyes commented on #124
@WarmongeR1 I don't know. I'm actively looking at stuff again though, so I hope to have it soon enough. I'll keep you posted.

[2016-11-15 19:48] jkeyes commented on #126
@ubaldo not yet. 3.1 release I'd say.

[2016-11-15 19:49] jkeyes commented on #122
I've had a look at @frankie567 PR, this will be supported very soon in version-3. I'll update here when it's merged.

[2016-11-15 19:49] jkeyes commented on #120
Fixed in #125 and merged into version-3 branch.

[2016-11-15 19:50] #120 closed

[2016-11-15 19:51] jkeyes commented on #114
I just merged #125 which is related to next_link in collection_proxy. I think this may have resolved this issue.

[2016-11-16 04:53] rsalesas commented on #114
How come you can't see the failure when you test?

 - Robert Salesas

[2016-11-16 09:14] jkeyes commented on #114
I wasn't able to reproduce it last time I looked at it (don't know if that was a fault with the test or not). I haven't tested it this time around, I'm just letting you know that the PR might have resolved it as it was to do with pagination. The issue is still open.

[2016-11-16 10:21] rsalesas commented on #114
OK I’ll give it another shot. Stopped using it, as it didn’t work.

[2016-11-16 10:33] jkeyes commented on #114
Sorry about that @rsalesas. I see a window of time opening up a bit for me so we'll get the version 3 release out the door soonish anyway. This should be fixed in that release.

[2016-11-16 12:59] jkeyes commented on #96
@ashchristopher I'm working on it right now. (_eventually!_)

[2016-11-16 13:02] jkeyes commented on #116
@hheimbuerger I haven't tested with names like that. I'll do so now.

[2016-11-16 13:10] jkeyes commented on #116
I've tested the following with version-3:

[code]

[2016-11-16 13:11] jkeyes commented on #122
version-3 now has personal access token support.

[2016-11-16 13:14] jkeyes commented on #127
I had the certs updated but the webserver wasn't restarted. All good now.

[2016-11-16 13:14] #127 closed

[2016-11-16 13:42] jkeyes opened #131 "Support new Count style."
Mirror the `for_type` approach of the Ruby library:

[code]

[2016-11-16 13:56] jkeyes commented on #131
I already have this implemented, but I do need to update the integration tests.

[2016-11-16 20:31] #116 closed

[2016-11-16 22:54] jkeyes commented on #96
3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:54] #96 closed

[2016-11-16 22:54] jkeyes commented on #104
3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:54] #104 closed

[2016-11-16 22:54] jkeyes commented on #109
3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:54] #109 closed

[2016-11-16 22:54] jkeyes commented on #117
3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:54] #117 closed

[2016-11-16 22:54] jkeyes commented on #122
3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:54] #122 closed

[2016-11-16 22:56] jkeyes commented on #131
Done and released in 3.0b3 now on [PyPi](https://pypi.python.org/pypi/python-intercom).

[2016-11-16 22:56] #131 closed

[2016-12-09 13:00] bnjix commented on #118
Hi @jkeyes,
Any timeframe on supporting access tokens ?
Correct me if I'm wrong, but I think Intercom will drop api key support next month (see here https://developers.intercom.com/reference#personal-access-tokens-1)
Thanks

[2016-12-09 15:34] jkeyes commented on #118
Hi @bnjix, access token support is in v3 beta (`
pip install python-intercom==3.0b3`).

[2016-12-09 16:09] ankurrawal commented on #118
Ok Thanks

[2016-12-13 14:05] simonklink commented on #124
@jkeyes Any update on the release date for version 3?

API Keys are deprecated in Jan 2017 and we would really want to switch to personal access tokens before that.

[2016-12-13 14:09] jkeyes commented on #124
@simonklink I haven't heard of any issue with the 3.0b3 so I was thinking I'll release 3 this coming weekend.

[2016-12-22 14:37] ryankask commented on #124
Should the `Client` keyword argument be called `token` or `access_token` instead of `personal_access_token`? You could obtain a token via the normal OAuth authorisation flow and it seems like it should work.

The [official Ruby client](https://github.com/intercom/intercom-ruby) has a very similar API and it has the following example code in the README:

[code]

[2017-01-06 03:04] WarmongeR1 commented on #124
@jkeyes when the release version? :)

[2017-01-16 23:31] chinatti opened #143 "Are the "contacts" methods implemented?"
The readme file has this code example to create a lead:

contact = intercom.contacts.create(email="xxx@yyy.com")

... but when I run this code I get:

Traceback (most recent call last):
  File "intercom_new_lead_start_convo.py", line 12, in <module>
    contact = intercom.contacts.create(email="xxx@yyy.com")
AttributeError: 'Client' object has no attribute 'contacts'

[2017-01-17 02:17] chinatti commented on #143
Figured it out ... these are implemented as "leads" as opposed to "contacts", so the correct example code is:

contact = intercom.leads.create(email="xxx@yyy.com")

[2017-01-17 02:17] #143 closed

[2017-01-18 22:31] akshayrpatel opened #144 "How do I fetch a conversation in JSON format ? When using json.dumps, it gives me an error saying "object is not JSON serializable""

[2017-01-21 01:22] bachle opened #145 "User deletion doesn't work"
Version **3.0b3**

Following the docs for deleting a user doesn't seem to work:

`deleted_user = intercom.users.find(user_id="1").delete()
`

Results in this error message

The traceback says this:

  File "<console>", line 1, in <module>
  File "/home/fedora/deploy/master/lib/python2.7/site-packages/intercom/traits/api_resource.py", line 98, in __getattribute__
    value = super(Resource, self)._

[2017-01-28 11:09] ryankask commented on #124
It looks like new users will no longer be able to create API keys from the start of March instead of the start of February. Existing users will be able to use API keys until an undetermined point in mid 2017: https://medium.com/intercom-developers/update-new-api-key-deprecation-deadline-e5f99818872e#.oukodaogn

[2017-02-06 08:53] #105 closed

[2017-02-06 08:54] jkeyes commented on #114
@rsalesas This is fixed in 3.0.

[2017-02-06 08:54] #114 closed

[2017-02-06 08:54] jkeyes commented on #124
3.0 has been released folks.

[2017-02-06 08:54] #124 closed

[2017-02-06 08:58] jkeyes commented on #144
@akshayrpatel You can call `Conversation.to_dict()` to access the raw data.

[2017-02-06 08:58] #144 closed

[2017-02-06 15:03] akshayrpatel commented on #144
Yes, to_dict() works. But what if the returned conversation is a nested JSON ?

[2017-02-06 18:57] jkeyes commented on #144
@akshayrpatel I don't see the distinction being honest. Can you give me a concrete example of when `to_dict()` doesn't provide the functionality you need?

However, you can always drop to a lower level and do something along the lines of this if you really need to:

[code]

[2017-02-07 08:22] jkeyes commented on #145
@bachle The documentation is out of date. The version 3 way of doing this is by calling `delete` on `Client` rather than the resource itself:

[code]

I'll update the docs.

[2017-02-07 09:01] jkeyes commented on #145
Docs are now updated: http://python-intercom.readthedocs.io/en/latest/

Thanks @bachle 👍

[2017-02-07 09:01] #145 closed

[2017-02-08 12:36] ubaldo opened #149 "Invalid import"
#I believe that this import will fail.
from intercom import Intercom

Looks like some piece of code that wasn't properly migrated

https://github.com/jkeyes/python-intercom/blob/master/intercom/api_operations/count.py#L13

[2017-02-08 17:12] jkeyes commented on #149
@ubaldo Not sure how that slipped through, but yeah it looks wrong, should be using the client. Thanks for letting me know.

[2017-02-09 13:28] helpingharry opened #150 "ReadTimeout error"
Hi there, I had this set up to pull all tags from our Intercom and then make a CSV with them, this was before the change to the personal access tokens and just using the API keys. I have since updated everything to use the PAT, but I am now getting the below error.

`ReadTimeout: HTTPSConnectionPool(host='api.intercom.io', port=443): Read timed out. (read timeout=10)`

Could this be because we hav

[2017-02-09 22:06] eliorc opened #151 "Determine whether ConversationPart.author is User or Admin"
I need to understand in runtime, if a certain `ConversationPart`'s author is a User or an Admin.

Lets say I have `conv_part` which is a `ConversationPart` after applying `to_dict()` on it, now when I'll execute `type(conv_part['author'])` I'll see `<intercom.utils.Admin object at 0x1ae9038>` something like that.
So I tried two options, using `isinstance(conv_part['author'], intercom.utils.Admin)`

[2017-02-09 22:25] jkeyes commented on #149
@ubaldo actually that module shouldn't exist anymore, as the functionality is provided by `client.counts`. Removed as part of https://github.com/jkeyes/python-intercom/pull/152.

[2017-02-09 22:25] #149 closed

[2017-02-13 22:17] jkeyes commented on #151
@eliorc 3.0.4 has added a `resource_type` attribute to the lightweight classes: `conv_part.author.resource_type` will now return `admin` or `user` depending on the resource at the time.

[2017-02-13 22:17] #151 closed

[2017-02-14 00:45] jkeyes commented on #150
@helpingharry It's nothing to do with PAT, just that the `count` requests takes longer with a lot of tags. 3.0.5 has been released, in which the default timeout has been increased from 10 to 90 seconds (same as the intercom-ruby lib) and it can be set from the environment via `INTERCOM_REQUEST_TIMEOUT`. See #154.

[2017-02-14 00:45] #150 closed

[2017-02-15 01:33] jkeyes commented on #126
@ubaldo I've added support for the Scroll API: https://github.com/jkeyes/python-intercom/pull/156 It's available in the 3.1.0 release.

[2017-02-15 01:33] #126 closed

[2017-02-15 01:51] jkeyes commented on #87
@greenafrican It's been a long time since I've updated this issue. I just ran a test on version 3.1.0 by creating a user  (`client.users.create`) and associating them with a company named `Fürth`. I then changed the email and saved the update to Intercom (`client.users.save`).

I'm going to close the issue, but if you're still having this issue let me know and we'll try to get to the bottom of it.

[2017-02-15 01:51] #87 closed

[2017-02-15 09:46] jkeyes commented on #118
@ankurrawal Version 3 (current is 3.1.0) supports personal access tokens. I have no plans to introduce any features to aid the OAuth flow, but the OAuth token should no work by passing it to the client:

[code]

Please test and let me know if it's working for you. Thanks.

[2017-02-16 13:55] jkeyes commented on #111
@arjunbanker Have a look in the [auto-throttle](https://github.com/jkeyes/python-intercom/tree/auto-throttle) branch. It's a simple solution that sleeps until the rate limit is reset. To enable the throttling a client has to be created with a parameter: `Client(personal_access_token="xxx", throttle=True)`.

[2017-02-17 17:44] helpingharry commented on #150
Hi there, thanks for getting in touch with me and informing me about the update. I I am unfortunately now receiving a new error. The error is `---------------------------------------------------------------------------
HttpError                                 Traceback (most recent call last)
<ipython-input-27-a1c2af1c843e> in <module>()
     39 # get_tag_count()
     40
---> 41 print (intercom.c

[2017-02-17 19:45] jkeyes commented on #150
@helpingharry I've deleted your personal access token from the code samples, you should keep it private, and I'd recommend you create a new one for your app.

I think you need to get in touch with Intercom directly, as this is now something that's beyond this project's scope. To validate you can test with `cURL` and e.g.

[code]

If that works then there is an issue with `python-intercom`, otherwi

[2017-02-17 20:14] teeberg commented on #150
I still see a PAT in the last comment

[2017-02-17 20:58] helpingharry commented on #150
Oh right yeah. Thanks very much for pointing that out. Sorry. Ok cool,
 I'll try and access it via curl and see how that goes.

Cheers

On 17 Feb 2017 19:45, "John Keyes" <notifications@github.com> wrote:

[2017-02-22 16:33] #118 closed

[2017-03-14 09:42] Infernion opened #157 "Not correct version on pypi"
When I'm installing through `pip install intercom-python==3.1.0` I'm getting an outdated version. There no `intercom.client.Client` class but `intercom.client.IntercomClient` instead.

When I'm installing from github then all is fine.

[2017-03-14 09:47] #157 closed

[2017-03-14 09:47] Infernion commented on #157
It was problem with PyCharm

[2017-03-14 23:43] lukas-gitl opened #158 "Delete User by user_id"
Matching the syntax of the official intercom integration, I would expect something like `users.delete(user_id=xxx)` to work (same for other delete functions).

[2017-03-15 00:11] lukas-gitl commented on #158
Work around for now is monkey patching:
[code]

[2017-03-20 19:49] MrJaeger opened #159 "Find Admin by Id"
In a previous version of this client (`2.1.1`) the Admin class had the `find` method on it (see https://github.com/jkeyes/python-intercom/blob/467bb83b1fbc3e2f88ed21e14877b412e25e6c17/intercom/admin.py) so you could find a particular Intercom admin by their id.  Would it be possible to add this functionality back in?  I tested the functionality by doing:

[code]

And the correct admin is returned.

[2017-03-21 14:50] Asaf-signifai opened #160 "README seems to have an error in 'Tags'"
Currently the README file states:
`# Tag users`
`tag = intercom.tags.tag_users(name='blue', users=[{'email': 'test1@example.com'}])`

But this results in
`AttributeError: 'Tag' object has no attribute 'tag_users'`

Perhaps it should say:
`tag = intercom.tags.tag(name='blue', users=[{'email': 'test1@example.com'}])`
since this results in success.

[2017-04-07 18:44] lukas-gitl opened #161 "The error of type 'None' is not recognized."
The error of type 'None' is not recognized. It occurred with the message: Server Error and http_code: '500'. Please contact Intercom with these details.
message: The error of type 'None' is not recognized. It occurred with the message: Server Error and http_code: '500'. Please contact Intercom with these details.
context: {'http_code': 500, 'application_error_code': u'server_error'}
Traceback (mos

[2017-05-04 17:07] k4rl85 opened #163 "Cannot use language_override"
I'm trying to change the field `language_override` for my users but it seems it is not supported by python api.
It should be a "standard" field but the api does not have it, I have tried with custom attributes with no success.

If i try to change it with javascript api it change correctly. Any suggestion?

Carlo

[2017-07-22 02:35] sir-dunxalot commented on #161
I also have this error with the following code:

[code]

[2017-09-29 14:55] GuillaumeCisco commented on #160
Should be done ASAP!

[2017-09-29 15:50] jkeyes commented on #160
Politeness comes at no cost.

On Fri, Sep 29, 2017 at 15:55, Cisco Guillaume <notifications@github.com> wrote:
Should be done ASAP!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub [https://github.com/jkeyes/python-intercom/issues/160#issuecomment-333149201] , or mute the thread [https://github.com/notifications/unsubscribe-auth/A

[2017-09-29 16:19] GuillaumeCisco commented on #160
Violence is needed when people are dormant...

[2017-09-29 17:12] jkeyes commented on #160
Stay classy!

On Fri, Sep 29, 2017 at 17:19, Cisco Guillaume <notifications@github.com> wrote:
Violence is needed when people are dormant...

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub [https://github.com/jkeyes/python-intercom/issues/160#issuecomment-333171529] , or mute the thread [https://github.com/notifications/unsubscribe-auth/AAD9pCozBKnZ

[2017-10-06 07:55] kerrermanisNL commented on #161
Having difficulties with this too, mainly when trying to update a user and it's company. I get the following:
[code]
Tried doing this manually with curl, and that succeeded. So something is going wrong here I believe.

[2017-10-16 13:27] tanasegabriel commented on #163
The `language_override` attribute is specific to the JS API and it is not exposed through the REST API.

https://developers.intercom.com/v2.0/reference#user-model

[2017-10-24 22:56] jkeyes commented on #163
@tanasegabriel is correct. Closing.

[2017-10-24 22:56] #163 closed

[2017-10-24 22:57] jkeyes commented on #158
@lukas-gitl If you can put together a PR with tests, I'll take a look at it. Sorry for the delay in responding.

[2017-10-24 22:58] jkeyes commented on #159
@MrJaeger I've merged a PR with this support just now. It will be in the next release. Thanks for raising the issue. I'll update here when the latest is released.

[2017-10-24 23:00] jkeyes commented on #161
@lukas-gitl Can you remember how that error was generated? A 500 response indicates an issue on the API side of things.

[2017-10-24 23:01] jkeyes commented on #161
@sir-dunxalot Do you still have the issue?

[2017-10-24 23:02] jkeyes commented on #161
@kerrermanisNL That looks like a different issue. Can you raise a new issue and supply some sample code that exhibits the behaviour. Thanks.

[2017-10-25 22:53] lukas-gitl commented on #161
@jkeyes Probably. We just stopped caring about errors and just retry and retry and retry and retry ... and eventually let it fail. But usually it eventually succeeds ;)

[2017-10-25 23:19] lukas-gitl commented on #158
Done. It's untested, but should be very easy to write a test for.

[2017-10-26 14:28] sir-dunxalot commented on #161
@jkeyes Have not used this library recently (because I haven't needed Intercom), sorry.

[2017-11-10 02:48] hickeroar opened #177 "__setattr__ overriding causing some unexpected behavior"
I was attempting to add companies to a user by using:
`user.companies.append({"company_id": "abc123", "name": "Test Company"})`
Since this doesn't trigger __setattr__, it's never marked for sending to the API when save() is called.

I'm not sure if this issue is a priority for you, or what a decent solution might be, but it had me pulling my hair out before I realized what was going on. It seems l

[2017-12-13 00:29] dshinzie opened #178 "Add support to make GET request to all conversations"
Auto messages can be fired in real time when making a GET request to a user's conversation list. This is the equivalent of calling `Intercom('update');` in the JavaScript API. Currently `find_all` only creates a collection proxy and does not actually make the GET request to the API.

https://docs.intercom.com/faqs-and-troubleshooting/sending-messages/when-do-email-auto-messages-send

[2017-12-13 00:38] #178 closed

[2018-01-11 01:43] alexstrat opened #179 "ImportError: cannot import name HttpError"
[code]

ends up with:

[code]

with `python-intercom==3.1.0`

Any idea?

[2018-01-11 01:58] alexstrat commented on #179
Here is a way to workaround that:

[code]

[2018-02-07 00:22] jarcoal opened #180 "client.companies.users(...) returns a list of intercom.company.Company"
Is this the intended behavior?  Seems to cause issues when trying to save the user data back to Intercom.

[2018-03-01 16:35] tanasegabriel commented on #179
Hey @alexstrat 👋Thanks for flagging this! I'm unable to reproduce it though with Python 2.7.14:

[code]

Or with Python 3.6.3:

[code]

I'm seeing the correct error that indicates that `list` is not supported by the `User` method. It looks like you see some errors related to broken imports in various files, but that shouldn't be the case.

Are you using the `python-intercom` module from PyPI, or d

[2018-03-01 17:37] tanasegabriel commented on #180
Hey @jarcoal 👋 `companies.users(<company_id>)` should be returning a collection that will contain all of the users belonging to a specific company:

[code]

What arguments are you passing when experiencing this and what's the object that you're being presented it?

[2018-03-01 17:50] jarcoal commented on #180
Try checking `user.__class__`.  For me it's returning companies, not users, even though the data within is the user's data.  In my code I've had to extract the user ID and re-wrap it in a User model.

[2018-03-01 18:17] tanasegabriel commented on #180
Ah, got it - you're referring to each of the users returned. Yep, that's how this is defined in [here].(https://github.com/intercom/python-intercom/blob/master/intercom/service/company.py)

I do understand now how this can cause issues while trying to update all of the users belonging to a company like this:

[code]
☝️ That will actually update the company rather than the user - nice catch here!

[2018-03-01 18:18] jarcoal commented on #180
Exactly, it tries to send the save request to the wrong URL.  Thanks for looking into that!

[2018-03-04 01:31] alexstrat commented on #179
@tanasegabriel

It was with Python 3.5.1 and `python-intercom` installed via PyPi.

But looks like I can't re-reproduce now.. That's weird 🤔

I'll just close the issue and re-open with more details if I stumble on it again.

[2018-03-04 01:31] #179 closed

[2018-03-14 01:42] kccheung commented on #179
I am having similar problem with 3.1.0 and python version 3.5.3 and here is my call stack:

[code]

[2018-03-14 04:50] kccheung opened #182 "Cannot save custom attribute of a User"
I cannot save a custom attribute of a User object using logic similar to below:
[code]
with error saying like `intercom.errors.BadRequestError: bad 'users' parameter` or `bad 'limited' parameter`.

The error occurs at

[code]
with params like the below:
[code]

P.S. I am using the latest master version and my python version is 3.5.3

[2018-03-14 06:11] kccheung commented on #182
**Update:** I found the culprit causing the problem. I used wrong way to search for a user using `find` as it only accepts `email` or `user_id`. I used only `name` which is not okay.

[2018-03-14 06:11] #182 closed

[2018-03-29 16:13] markflorisson opened #184 "Problem with messages.create?"
Hi -- great lib. But I'm having a problem with `intercom.messages.create`:

[code]

Which gives me: `intercom.errors.ResourceNotFound: Resource Not Found` on the `intercom.messages.create()`.

Any ideas?

[2018-03-29 17:17] markflorisson commented on #184
Never mind, I was using the ID from myself as a user, as opposed to the ID from myself as an admin: https://developers.intercom.com/reference#admins

[2018-03-29 17:17] #184 closed

[2018-04-12 22:09] davidemerritt opened #185 "using .update on the custom_attributes with a False value, that update is skipped upon save"
`attributes_dict = {'is_active': False}`

This code failed to update on save with a False value within the dictionary.

[code]
while this did work
[code]

[2018-05-15 20:25] Tyler-Churchill opened #186 "Upgrade to use scroll API. Calling intercom.users.all() with many users causes BadRequestError"
Trying to submit a bulk job to delete users and I am guessing I have too many users

Specifically using ```intercom.users.all()```
received ```BadRequestError: page limit reached, please use scroll API```

EDIT: Actually, I am not even sure if bulk jobs are supported anymore? It seems like all API docs for it does not exist.

[2018-05-16 16:40] michael-k opened #187 "DeprecationWarning: Non-string usernames will no longer be supported in Requests 3"
https://github.com/requests/requests/blob/f3fc892b901abe2c3605f2669af4f6469b896e88/requests/auth.py#L38-L45

Maybe `Client._auth` should return a function that does the same as [`HTTPBasicAuth.__call__`](https://github.com/requests/requests/blob/f3fc892b901abe2c3605f2669af4f6469b896e88/requests/auth.py#L95-L97)?

https://github.com/intercom/python-intercom/blob/60b14138445d80e165745abe1a3754d250b7

[2018-05-16 16:44] michael-k commented on #187
Stacktrace:
[code]

[2018-05-21 18:50] fairbanksg opened #188 "Support permanent deletion of users."
Intercom has added a new API for permanently deleting users.
The previous `delete` has been renamed as `archive` (since it never actually permanently deleted the user).

Submitting a PR to add support for this momentarily.

[2018-05-29 16:29] aleonsan opened #191 "AttributeError when trying to perform a delete through leads Service."
Intercom Client **leads** service offers the mixin **Delete** to delete **Lead** objects.
But, however this mixin is builtin to work though object attribute **id** .

[code]

and **Lead** is an id-less object.

[2018-08-02 09:35] dimitry-L commented on #186
You need to use 'intercom.users.scroll()' instead of 'intercom.users.all()'

[2018-08-02 11:49] Tyler-Churchill commented on #186
I don't recall this functionality and documentation existing at the time I posted this. Closing!

[2018-08-02 11:49] #186 closed

[2018-08-09 18:43] justinjdickow opened #194 "How to reply to user's last conversation?"
What's the proper way to reply to a user's last conversation?

I'm trying

[code]

But receiving the following error
`intercom.errors.ResourceNotFound: User Not Found`

I've also tried
[code]

Based on a few other issues but get the same error. I have confirmed that I have conversations started with this user, and can create new ones using

[code]

But seem unable to reply to any of them

[2018-08-09 20:11] justinjdickow commented on #194
My issue was to use `intercom_user_id=user.id` and `message_type='comment'`

[2018-08-09 20:11] #194 closed

[2018-10-09 06:29] odiggitysc opened #201 "intercom.errors.ResourceNotFound: scroll parameter not found"
`a = 0
insert = ''

for user in intercom.users.scroll():
  amp_id = non_type(user.id)
  user_id = non_type(user.user_id)
  if len(insert) == 0:
    insert = "('" + amp_id + "','" + user_id + "')"
  else:
    insert = insert + ",('" + amp_id + "','" + user_id + "')"
  a += 1
  print(a)
  if a % 10000 == 0:
    lets_insert = insert_query.format(insert)
    cursor.execute(lets_insert)
    con.commit(

[2018-10-23 18:50] ex-nerd commented on #186
Might be worth updating the example in the main README to include this...

[2019-02-12 15:32] royfad opened #208 "Update multiple user attributes"
can anyone help me understand how i push a change in multiple user attribute in a single post ? is this possible ?

[2019-05-20 02:35] AlmogCohen opened #212 "Missing docs for the awesome scroll api"
It seems to be already part of the package, but is missing from the docs.

[2019-05-27 15:39] paulbeelen commented on #182
Hello @kccheung , I know this was a while ago, but I can't get it to work even when I look up the user by their email... Any ideas of what I'm doing wrong?

[code]

[2019-05-27 19:30] paulbeelen opened #213 "Unable to save custom attributes (bad 'pages' parameter)"
I'm trying to update a user but I'm getting the following error: `BadRequestError: bad 'pages' parameter`

What I'm doing is the following:
[code]
Any ideas why this is not working?

UPDATE: I have been able to get this to work with `id` (intercom's id) and `user_id` (id assigned by us) but still not with email.

[2019-05-28 14:19] paulbeelen opened #214 "Can I assign / update the Owner for a user?"
I'm wondering if I can assign or change the Owner associated with a user. I assume it's an attribute but not sure what it's called, unable to find it... Thanks for any help!

[2019-06-13 10:10] killthekitten commented on #187
I realized we had this warning in test environment only, and the quick fix was, well, override the test config and set it to something other than `None`. Is that the case for you as well?

[2019-06-17 15:21] cpressland commented on #158
Please can we get the above merged in?

[2019-06-26 20:14] serkanozer opened #215 "Multiple companies per user custom attributes not displaying on intercom"
When I'm trying to add multiple companies per user custom attributes are displayed on intercom only one company but not on the others:

[code]
this updates user and companies properly and companies listed on the user's page properly with `test_attr` is displayed for all companies. When i go to individual company pages test_attr is only shown in one of the companies created, for the two others the

[2019-07-01 12:24] c-goosen opened #216 "conversations.reply Type is not an option"
intercom.conversations.reply(
            type="admin",
            subject=subject,
            id=convo_id,
            message_type='inapp',
            email="iaaa@test.com",
            body=message,
            admin_id=INTERCOM_ADMIN_ID
)

Error:
  File "/home/goose/miniconda3/envs/venv/lib/python3.7/site-packages/intercom/service/conversation.py", line 32, in reply
    return self.__reply(

[2019-08-05 23:51] EnSabanNur opened #218 "conversation.mark_read using wrong url for resource"
#### Issue:
The client cannot mark a conversation as `read`.

#### Steps:
- Try to mark an existing conversation as read with the following call: `client.conversations.mark_read(conv_id)`

#### Expected:
- Successful execution of API call for the provided conversation id.

#### Actual:
- The library throws the following exception:
`ResourceNotFound: The requested resource does not exist; check you

[2019-10-22 19:34] jbvsmo opened #219 "User find by email return list of users without the User model"
The intercom API for `intercom.users.find(email=something)` is returning an object that is a list of users that should work like the CollectionProxy but it doesn't.

Only solution right now is to always use find_all (except for id, where it is broken for similar reasons)

[2019-11-02 08:36] mwisner opened #220 "[Request] Official Intercom support"
According to the readme (https://github.com/intercom/python-intercom#not-officially-supported), this library is not officially supported by Intercom.

I know it's tough to track down programming language usage stats,  but some websites rank Python as one of the most used programming languages out there.

https://www.tiobe.com/tiobe-index/
http://pypl.github.io/PYPL.html
https://codinginfinite.com/

[2019-11-28 14:55] thantuongaotrang commented on #216
intercom.conversations.reply(id="56789", type='admin', admin_id="1234",message_type='open', body="hello", attachment_urls=[None])

[2019-11-28 14:58] thantuongaotrang commented on #216
User reply:
intercom.conversations.reply(id="56789", type='user', user_id="1111",message_type='comment', body="user say hello", attachment_urls=[None])

[2019-11-29 16:54] angusprintify commented on #159
Any update on this?

[2019-12-14 07:34] deadfrominside commented on #116
This is caused by [request.py:82](https://github.com/intercom/python-intercom/blob/2e15c3ecb416d4ff693284745d8bde5014388807/intercom/request.py#L82)
Which tries to log python2 string which might contain non ascii characters, which would cause logger to log this UnicodeDecodeError.

[2020-01-22 18:55] aidanak commented on #182
Do you know what was the issue?

[2020-01-22 19:00] paulbeelen commented on #182
@aidanak no, this was never resolved.

[2020-02-10 19:32] pbadeer opened #221 "Support for API v2, merged Users/Leads into Contacts"
[Documentation referece](https://developers.intercom.com/intercom-api-reference/reference#users)

Using `intercom.users.find` now returns a 400 error, and the `user.leads.find` function automatically searches for Leads only making it impossible to search for users on the new API.

[2020-02-13 14:32] pbadeer commented on #221
In the meantime, it's possible for you to change your Intercom API token to use a different API version.

1. Go to developer.intercom.com
2. Select "Your Apps" from the top nav bar
3. Log in and select your app from the list
4. Under the main landing page (Configure > Basic Information) there's a button near the bottom called "Change Version"
5. Click this and change to 1.4

[2020-03-26 10:12] umarovt commented on #221
@pbadeer Hey. If I create a PR for API version 2.0 can it be reviewed and merged at some point?

[2020-04-08 11:47] hassa opened #222 "company_not_found raises an UnexpectedError when it should raise a ResourceNotFound error"
We expected `company_not_found` to raise a `ResourceNotFound`, but currently it raises an `UnexpectedError`

We tracked this down to:
https://github.com/intercom/python-intercom/blob/master/intercom/errors.py#L68

I think `company_not_found` just needs to be mapped to `ResourceNotFound`

[code]

[2020-05-03 16:49] aymericderbois commented on #221
This repos will not be updated, and is not maintained by Intercom. As they said in Readme :

So, I think your PR will not be reviewed and merged in this repo.

[2020-05-04 02:47] pbadeer commented on #221
@umarovt PR requests and issues are actively monitored on this repo, I think you'll be alright. The most recent merge was only days ago.

[2020-05-04 13:51] PiAir commented on #212
Since it took me ages to figure it out, I thought I would give something back by sharing the code that I used to finally get it to work. I can successfully retrieve the data of 13,000+ users with this:
[code]

[2020-05-07 10:50] vallode opened #224 "ResourceNotFound issue when using `intercom.users.create`"
Python: 3.6.4
Python-intercom: 3.1.0

Not exactly sure how active this repository is, but thought I would raise this issue regardless.

When using `intercom.users.create()` we occasionally (sometimes in high burts) get a `ResourceNotFound` error, recently we have turned from using `intercom.users.save()` because we thought that might have been the issue. Regardless the error persists.

If anyone i

[2020-05-16 10:13] jacopoch opened #225 "Is this project maintained at all?"
Hello,
is this project maintained by anyone officially?

There are many PRs open, if it's not maintained at all it could be "archived" 👍

[2020-06-05 13:55] michaelhaydendeveloper commented on #182
**When you search for a user by email and user is not found**
i.e.
user = intercom.users.find(email="bob@example.com")
user is:
{'pages': <intercom.utils.define_lightweight_class.<locals>.DynamicClass object at 0x1092e3150>, 'total_count': 0, 'limited': False, 'users': [], 'custom_attributes': {}}

**When you search for a user by id and user is not found**
i.e.
user = intercom.users.find(email="12

[2020-06-16 00:54] sujianbin opened #226 "How to convert object to dict or json？"
I need to store every field into mysql，but I get a result like "<intercom.utils.Team object at 0x00000000047F3308>".
How to convert the object to dict or json？

[2020-09-18 20:23] calebnorman commented on #226
Can you include a code snippet.

[2020-10-06 09:09] ellagracek commented on #226
@sujianbin Did you find a solution?

[2020-10-13 03:16] jerrytohvan opened #232 "How do I delete tag from `python-intercom` wrapper"
Attempting to remove bulk tags using a script. However, I cant seem to find a way to remove a tag:
 'Tag' object has no attribute 'delete'.

[2020-10-19 14:55] eapermyakov opened #234 "Get user by id error: Requested resource is not available in current API version"
Python: 3.6.4
Python-intercom: 3.1.0

[code]

[2020-11-25 12:17] Brendan-Stubbs opened #235 "Is it possible to retrieve a list of all unsubscribed emails addresses?"

[2020-12-14 12:53] #232 closed

[2021-01-12 15:19] pbadeer commented on #234
Related to #221

[2021-02-04 21:51] bikegriffith commented on #214
I've been trying to find a way to do this, and it looks like the answer is NO.  API v1.4 (which is required for this SDK) does not support updating the owner.  Trying to hack around it, for example by adding the `owner_id` (or `owner`) field into custom attributes, does nothing other than create a new custom attribute (leaving the actual owner unaffected).

[2021-02-04 21:57] bikegriffith commented on #214
You can dip back into the REST API if you need to, for example:

[code]

[2021-02-25 21:05] thibaut-singlefile commented on #224
Exact same problem here.

[2021-03-03 16:40] thibaut-singlefile commented on #224
Response from intercom support:

[2021-05-08 21:55] mehmetgencolatug commented on #180
I am facing with the same behavior in v3.1.0. Will there be a new version for this fix soon?

[2021-05-25 09:42] nikbora commented on #212
Came here searching for page/scroll api issues (even though I know this SDK is not maintained) and found this. Thanks @PiAir 🙏🏻

[2021-05-25 17:08] yvsssantosh opened #236 "Documentation for Bulk APIs"
Did you forget adding documentation for bulk operations on the intercom website or was it intentionally removed?

From what I can see here is the PR for bulk operations : https://github.com/intercom/python-intercom/pull/112
And here's the docs : https://developers.intercom.com/intercom-api-reference/reference

I tried the links present as refs in the code but they don't open up anywhere. I kind of

[2021-06-07 05:40] kenuxi commented on #161
I still get this error. Can anyone help?

[2022-01-10 10:50] #235 closed

[2022-02-16 19:24] jleclanche commented on #213
When searching with `email=`, the response returned is a collection instead of a single user. It's super weird. You can do something like this:

[code]

[2022-05-23 19:43] #218 closed